* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: arial;
}
.work-process {
  /* max-width: 500px; */
  margin: 50px auto;
}
.work-process h3 {
  margin: 30px 0px 10px;
}
.project-bar {
  height: 18px;
  background: #e0e0e0;
  border-radius: 30px;
}
.project-percent {
  height: 18px;
  background-color: #2196F3;
  border-radius: 30px;
  position: relative;
  width: 0;
  transition: 2s linear;
}
.project-percent::before {
  content: attr(percent);
  position: absolute;
  right: 0px;
  left: 0px;
  padding: 1px 0px;
  color: #ffffff;
  font-size: 15px;
  border-radius: 25px;
  font-weight: bold;
  width: 20px;
  margin: 0px auto;
}

/* ------------------------------------------ */
ul#loadbar {
  background-color: #d9d9d9;
  list-style: none;
  /* max-width: 500px; */
  border-color: #737373;
  border-style: solid;
  border-radius: 3px;
  margin: 0 auto;
  padding: 2px 2px 19px 2px;
}
  ul#loadbar li {
  float: left;
  position: relative;
  width: 7px;
  height: 15px;
  border-radius: 1px;
  margin-left: 2px;
  border-left: 1px solid #E5E5E5; border-top:1px solid #E5E5E5; border-right:1px solid #E5E5E5; border-bottom:1px solid #E5E5E5;
  background: #E5E5E5;
}
  
ul#loadbar li:first-child { margin-left: 0; }
  
.ins .bar {
  width: 7px;
  height: 15px;
  border-radius: 1px;
  opacity: 1;
  -webkit-animation: fill .5000ms linear backwards;
  -webkit-animation-duration: 5000ms;
  -moz-animation: fill .5000ms linear backwards;
  -moz-animation-duration: 5000ms;
}
  
#layerFill1 { background-image: linear-gradient(#33ff33, #00b300); -moz-animation-delay: 5000ms; -webkit-animation-delay: 5000ms; }
#layerFill2 { background-image: linear-gradient(#33ff33, #00b300); -moz-animation-delay: 10000ms; -webkit-animation-delay: 10000ms; }
#layerFill3 { background-image: linear-gradient(#33ff33, #00b300); -moz-animation-delay: 15000ms; -webkit-animation-delay: 15000ms; }
#layerFill4 { background-image: linear-gradient(#33ff33, #00b300); -moz-animation-delay: 20000ms; -webkit-animation-delay: 20000ms; }
#layerFill5 { background-image: linear-gradient(#33ff33, #00b300); -moz-animation-delay: 25000ms; -webkit-animation-delay: 25000ms; }
#layerFill6 { background-image: linear-gradient(#33ff33, #00b300); -moz-animation-delay: 30000ms; -webkit-animation-delay: 30000ms; }
#layerFill7 { background-image: linear-gradient(#33ff33, #00b300); -moz-animation-delay: 35000ms; -webkit-animation-delay: 35000ms; }
#layerFill8 { background-image: linear-gradient(#33ff33, #00b300); -moz-animation-delay: 40000ms; -webkit-animation-delay: 40000ms; }
#layerFill9 { background-image: linear-gradient(#33ff33, #00b300); -moz-animation-delay: 45000ms; -webkit-animation-delay: 45000ms; }
#layerFill10 { background-image: linear-gradient(#33ff33, #00b300); -moz-animation-delay: 50000ms; -webkit-animation-delay: 50000ms; }
  
@-moz-keyframes fill {
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}

@-webkit-keyframes fill {
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}